@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.content-container {
  position: relative;
  z-index: 10;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Change width to viewport width */
  height: 100vh; /* Change height to viewport height */
  /* background: url("https://i.postimg.cc/c1Q3njM0/bg2.jpg");
  background-size: cover; */
  animation: animateBg 50s linear infinite;
}

@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.stars,
.circles {
  z-index: -100;
}

.stars span {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: starsAnimation linear infinite;
  z-index: -1000;
}
.stars span::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
  z-index: -1000;
}

.stars,
.circles li {
  animation-play-state: running; /* Initially set the animation state to running */
}

.scrolling .stars span,
.scrolling .circles li {
  animation-play-state: paused; /* When scrolling, pause the animation */
}
@keyframes starsAnimation {
  0% {
    transform: rotate(335deg) translateX(-50px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(335deg) translateX(-1250px);
    opacity: 0;
  }
}
.stars span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 1s;
}
.stars span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 3s;
}
.stars span:nth-child(3) {
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.5s;
  animation-duration: 2s;
}
.stars span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
.stars span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
.stars span:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
.stars span:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
.stars span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
.stars span:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
.stars span:nth-child(9) {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.stars span:nth-child(10) {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s; /* Corrected the delay */
  animation-duration: 2.75s; /* Corrected the duration */
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

/* .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: opacity 0.5s ease;
}

.sunset {
  background-image: url("https://img.freepik.com/free-vector/summer-background-videocalls_23-2148969180.jpg?size=626&ext=jpg&ga=GA1.2.97695349.1710195315&semt=ais");
}

.night {
  background-image: url("https://img.freepik.com/free-photo/snowy-mountain-peak-starry-galaxy-majesty-generative-ai_188544-9650.jpg?w=1380&t=st=1710195701~exp=1710196301~hmac=9f41ae8e90706b1b0379ccf7c3af4441a75beab9f981c213b667ae9f92198c2f");
} */

.area {
  background: none;
  /* background-image: url("https://www.shutterstock.com/image-vector/vector-night-sky-clouds-moonlight-600nw-760640275.jpg"); */
  /* background-image: url("https://i.pinimg.com/736x/60/ab/dd/60abdd9b95395a55eeca67f78bacfb4f.jpg"); */
  /* background-image: url("https://t4.ftcdn.net/jpg/02/50/48/93/360_F_250489323_AvnwytTa9rlfQVNNpM8XIBR6POYOB3nC.jpg"); */
  background-image: url("BG.png");

  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);

  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: -5;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  background: rgba(255, 255, 255, 0.3);
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  background: rgba(255, 255, 255, 0.4);
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  background: rgba(255, 255, 255, 0.2);
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}

.primary-navigation {
  position: sticky;
  top: 0;
  z-index: 10000;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.5rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}

.nav-list a {
  color: var(--clr-primary-300);
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.nav-list a:hover {
  color: #fff;
  /* text-decoration: underline solid; */
}

.nav-list a:active {
  color: var(--clr-primary-300);
}

/* general styling */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

#home,
#projects,
#contact,
#about {
  text-align: center;
}

:root {
  --fs-900: 3rem;
  --fs-800: 2.5rem;
  --fs-700: 2rem;
  --fs-400: 1rem;

  --fw-400: 400;
  --fw-700: 700;

  --size-400: 1.5rem;
  --size-500: 3rem;
  --size-600: 6rem;

  --clr-neutral-900: hsl(0, 9%, 11%);
  --clr-neutral-200: hsl(36, 24%, 96%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-primary-200: hsl(213, 43%, 79%);
  /* --clr-primary-300: hsl(190, 84%, 50%); */
  /* --clr-primary-300: #00e1ff; */
  --clr-primary-300: #775d9c;
  /* --clr-primary-400: #0062ff; */
  --clr-primary-400: #ff6c03;
  --clr-primary-600: #333333;
  --clr-primary-500: hsl(190, 100%, 28%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Gerenal spacing and font reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Exo", sans-serif;
}

a {
  color: inherit;
  text-decoration-color: rgb(107, 107, 107);
}

a:where(:hover, :focus) {
  text-decoration-color: currentColor;
}

code {
  font-family: monospace;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Add styles for reduced motion */
.reduce-motion * {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}

/* Utilities */

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-400 {
  font-size: var(--fs-400);
}

.fw-regular {
  font-weight: var(--fw-400);
}
.fw-bold {
  font-weight: var(--fw-700);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-200 {
  color: var(--clr-neutral-200);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}
.text-primary-200 {
  color: var(--clr-primary-200);
}
.text-primary-300 {
  color: var(--clr-primary-300);
}
.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-primary-500 {
  color: var(--clr-primary-500);
}
.text-primary-600 {
  color: var(--clr-primary-600);
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.margin-block-auto {
  margin-block: auto;
}
.margin-inline-auto {
  margin-inline: auto;
}
.margin-top-auto {
  margin-top: auto;
}
.margin-bottom-auto {
  margin-bottom: auto;
}
.margin-right-auto {
  margin-right: auto;
}
.margin-left-auto {
  margin-left: auto;
}

.margin-top-400 {
  margin-top: var(--size-400);
}
.margin-top-500 {
  margin-top: var(--size-500);
}
.margin-top-600 {
  margin-top: var(--size-600);
}
.margin-bottom-400 {
  margin-bottom: var(--size-400);
}
.margin-bottom-500 {
  margin-bottom: var(--size-500);
}
.margin-bottom-600 {
  margin-bottom: var(--size-600);
}

.margin-block-400 {
  margin-block: var(--size-400);
}
.margin-block-500 {
  margin-block: var(--size-500);
}
.margin-block-600 {
  margin-block: var(--size-600);
}

.padding-block-400 {
  padding-block: var(--size-400);
}
.padding-block-500 {
  padding-block: var(--size-500);
}
.padding-block-600 {
  padding-block: var(--size-600);
}

.padding-block-auto {
  padding-block: auto;
}
.padding-inline-auto {
  padding-inline: auto;
}
.padding-top-auto {
  padding-top: auto;
}
.padding-bottom-auto {
  padding-bottom: auto;
}
.padding-right-auto {
  padding-right: auto;
}
.padding-left-auto {
  padding-left: auto;
}

.padding-400 {
  padding: var(--size-400);
}

.padding-500 {
  padding: calc(var(--size-400) * 2);
}

.border-right-thin {
  border-right: 1px solid rgb(197, 192, 182);
}

:where(.flow > :not(:first-child)) {
  margin-top: var(--flow-space, var(--size-400));
}

.flex {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  gap: var(--gap, var(--size-400));
}

.flex-flow {
  display: flex;
  flex-direction: column;
  gap: var(--flow-space, var(--size-400));
}

.text-center .flex {
  margin: 0 auto;
}

.container {
  --max-width: 75rem;
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;
}

/* general styling */

body {
  font-family: system-ui, sans-serif;
  font-size: var(--fs-400);
  line-height: 1.4;
  color: var(--clr-neutral-900);
  /* background-color: var(--clr-neutral-200); */
}

[class*="grid-"] {
  display: grid;
  gap: 1rem;
}

.grid-even-columns {
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

@media (min-width: 50em) {
  .grid-auto-flow {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.grid-stack {
  display: grid;
  place-items: center;
}

.grid-stack > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-stack > img {
  aspect-ratio: 16/3;
  min-height: 30vh;
  object-fit: cover;
  z-index: -1;
}

p {
  opacity: 0.85;
}

h2 {
  font-size: 3rem !important;
  font-weight: 900;
}

@media screen and (max-width: 750px) {
  h2 {
    font-size: 1.25rem;
  }

  .primary-navigation {
    font-size: 0.75rem;
  }

  .nav-list {
    gap: 2.25rem;
  }

  .nav-list a {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 550px) {
  h2 {
    font-size: 1rem;
  }

  .primary-navigation {
    font-size: 0.5rem;
  }

  .nav-list {
    gap: 2rem;
  }

  .nav-list a {
    font-size: 1rem;
  }

  .stars span:nth-child(1) {
    animation-duration: 1.5s;
  }
  .stars span:nth-child(2) {
    animation-duration: 4s;
  }
  .stars span:nth-child(3) {
    animation-duration: 3s;
  }
  .stars span:nth-child(4) {
    animation-duration: 2s;
  }
  .stars span:nth-child(5) {
    animation-duration: 3s;
  }
  .stars span:nth-child(6) {
    animation-duration: 3.5s;
  }
  .stars span:nth-child(7) {
    animation-duration: 2.25s;
  }
  .stars span:nth-child(8) {
    animation-duration: 1.75s;
  }
  .stars span:nth-child(9) {
    animation-duration: 2.75s;
  }
  .stars span:nth-child(9) {
    animation-duration: 3.5s;
  }

  .stars span:nth-child(10) {
    animation-duration: 3.5s;
  }

  .circles li:nth-child(1) {
    width: 45px;
    height: 45px;
  }

  .circles li:nth-child(2) {
    width: 15px;
    height: 15px;
  }

  .circles li:nth-child(3) {
    width: 15px;
    height: 15px;
  }

  .circles li:nth-child(4) {
    width: 40px;
    height: 40px;
  }

  .circles li:nth-child(5) {
    width: 10px;
    height: 10px;
  }

  .circles li:nth-child(6) {
    width: 70px;
    height: 70px;
  }

  .circles li:nth-child(7) {
    width: 90px;
    height: 90px;
  }
  .circles li:nth-child(10) {
    width: 100px;
    height: 100px;
  }

  @keyframes starsAnimation {
    0% {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(315deg) translateX(-1250px);
      opacity: 0;
    }
  }

  /* .area {
    background-size: contain;
  } */
}
