@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
video.center {
  display: block;

  margin-left: auto;

  margin-right: auto;
}

body {
  font-family: "Lato", sans-serif;
}

/* Modal */
.socialNetworkModal,
.sortingAlgorithmModal,
.chessGameModal {
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  text-align: left;
  grid-template-columns: auto auto auto;
  padding: 10px;
  z-index: 10000;
}

.modal-content p {
  color: black;
  margin-left: 20px;
}

.modal-content h1 {
  margin-top: 1%;
  text-align: center;
}

/* Close button */
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.content-container {
  position: relative;
  z-index: 10;
}
.techStack {
  border-radius: 5px;
}

.techStack .techStack-title {
  color: White;
  text-align: center;
  font-size: 2rem;
  margin: 2%;
  margin-top: 20%;
}

.techStack .languages {
  /* background-color: #fff; */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.techStack .languages a {
  margin: auto;
  padding: 5px;
}
.frontend,
.backend {
  display: flex;
  align-items: center;
  margin: 5%;
}

.frontend span,
.backend span {
  margin-right: 10px;
  font-size: 2rem;
}
.projectTechStack {
  margin-top: 5%;
}

.icons {
  display: flex;
  /* background-color: white; */
  border-radius: 10px;
  width: 100%;
  margin: 2%;
}
.icons a {
  margin-right: 30px;
  margin: auto;
  padding: 5px;
}

.modal-content {
  text-align: center;
}

.modal-content h1 {
  margin-bottom: 5%;
}

.modal-content .modal-info {
  font-weight: bold;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: animateStars linear infinite;
}

:root {
  --fs-900: 3rem;
  --fs-800: 2.5rem;
  --fs-700: 2rem;
  --fs-400: 1rem;

  --fw-400: 400;
  --fw-700: 700;

  --size-400: 1.5rem;
  --size-500: 3rem;
  --size-600: 6rem;

  --clr-neutral-900: hsl(0, 9%, 11%);
  --clr-neutral-200: hsl(36, 24%, 96%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  /* --clr-primary-200: hsl(213, 43%, 79%); */
  --clr-primary-200: #fff;
  /* --clr-primary-300: hsl(190, 84%, 50%); */
  /* --clr-primary-300: #00e1ff; */
  --clr-primary-300: #775d9c;
  /* --clr-primary-400: #0062ff; */
  --clr-primary-400: #ff6c03;
  --clr-primary-600: #333333;
  --clr-primary-500: hsl(190, 100%, 28%);
}

@keyframes animateStars {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.stars,
.circles {
  z-index: -100;
}

.stars span {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: starsAnimation linear infinite;
  z-index: -1000;
}
.stars span::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
  z-index: -1000;
}

.stars,
.circles li {
  animation-play-state: running; /* Initially set the animation state to running */
}

.scrolling .stars span,
.scrolling .circles li {
  animation-play-state: paused; /* When scrolling, pause the animation */
}

.nav-list li {
  position: relative;
  display: inline-block;
}

#generateDots {
  background-color: #62438c;
  color: white;
  padding: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 7.5px;
  transition: border-radius 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border: 1px solid #333;
}

#generateDots:hover {
  border-radius: 10px;
  background-color: #4e3579;
}

#toggleInput {
  position: absolute;
  top: calc(100% + 5px);
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-direction: column;
  z-index: 100;
}
#toggleInput-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.writtenIn {
  margin-top: 5%;
}

.viewProject {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.viewProject .viewLive {
  margin-right: 10px;
}

.viewProject a {
  background-color: #62438c;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  transition: background-color 0.3s ease-in-out, border-radius 0.2s ease-in-out;
}

.viewProject a:hover {
  background-color: #4e3579;
  color: white;
  border-radius: 7.5px;
}

#toggleAnimation,
.toggleAnimation {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 2px black solid;
}

@keyframes illuminate {
  0% {
    box-shadow: 0 4px 8px 0 #fbc23b, 0 6px 20px 2px #131729;
  }
  50% {
    box-shadow: 0 4px 10px 5px #fbc23b, 0 6px 25px 5px #131729;
  }
  100% {
    box-shadow: 0 4px 8px 0 #fbc23b, 0 6px 20px 2px #131729;
  }
}

#SortingAlgorithm,
#SocialNetworking,
#ChessGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  transition: transform 0.3s ease-in-out, border-radius 0.2s ease-in-out,
    background-color 0.4s ease-in-out, border-color 0.4s ease-in-out,
    box-shadow 0.5s ease-in-out;
  border: 2px rgba(19, 23, 41, 0.5) solid;
  border-radius: 10px;
  padding: 2%;
  /* background-color: rgba(19, 23, 41, 1); */
  background-color: rgba(18, 17, 24, 0.85);
  box-shadow: 0 4px 6px 0 #121118, 0 6px 15px 0 #4e3579;
}

#SortingAlgorithm .projectImg,
#SocialNetworking .projectImg,
#ChessGame .projectImg {
  /* height: 30vh; */
  width: 30vw;
  border-radius: 10px;
  text-align: center;
  object-fit: cover;
}

#SortingAlgorithm a img,
#SocialNetworking a img,
#ChessGame a img {
  text-align: center;
  object-fit: contain;
  padding: 5px;
}

#SortingAlgorithm:hover,
#SocialNetworking:hover,
#ChessGame:hover {
  box-shadow: 0 4px 8px 0 #fbc23b, 0 6px 20px 0 #f9f9f9;
  text-align: center;
  transform: scale(1.05);
  border-radius: 25px;
  background-color: rgba(9, 13, 32, 255);
  border: 2px white solid;
  animation: illuminate 3s infinite;
}

#SortingAlgorithm .storyBehindProject,
#SocialNetworking .storyBehindProject,
#ChessGame .storyBehindProject {
  background-color: #62438c;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 600;
  border: none;
  transition: transform 0.3s ease-in, background-color 0.3s ease-in-out,
    border-radius 0.3s ease-in-out;
}

/* #SortingAlgorithm:hover .storyBehindProject:hover,
#SocialNetworking:hover .storyBehindProject:hover,
#ChessGame:hover .storyBehindProject:hover {
  background-color: #4e3579;
  color: white;
  border-radius: 7.5px;
  transform: scale(1.05);
} */

#SortingAlgorithm:hover .storyBehindProject,
#SocialNetworking:hover .storyBehindProject,
#ChessGame:hover .storyBehindProject {
  background-color: #fbc84f;
  color: black;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 600;
  border: none;
  transition: transform 0.2s ease-in, background-color 0.2s ease-in-out,
    border-radius 0.2s ease-in-out;
}

#SortingAlgorithm:hover .storyBehindProject:hover,
#SocialNetworking:hover .storyBehindProject:hover,
#ChessGame:hover .storyBehindProject:hover {
  background-color: #fbc23b;
  color: white;
  border-radius: 7.5px;
  transform: scale(1.05);
}

/* .storyBehindProject {
  background-color: #fbc84f;

} */

/* .storyBehindProject:hover {
  background-color: #fbc23b;
  color: black;
} */

#ChessGame:hover p,
#SocialNetworking:hover p,
#SortingAlgorithm:hover p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

#ChessGame .projectDescription ul li,
#SocialNetworking .projectDescription ul li,
#SortingAlgorithm .projectDescription ul li {
  color: white;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
}

#ChessGame:hover .projectDescription ul li,
#SocialNetworking:hover .projectDescription ul li,
#SortingAlgorithm:hover .projectDescription ul li {
  color: #fff;
}

#SortingAlgorithm p,
#SocialNetworking p,
#ChessGame p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  transition: color 0.4s ease-in-out;
}

.projectDescription {
  width: 100%;
}
.projectDescription p {
  text-align: center;
}

.projectDescription ul {
  list-style: none;
}

.projectDescription ul li {
  color: white;
  font-weight: bold;
}

#projects div div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects div div a p {
  margin-top: 3%;
}

@keyframes starsAnimation {
  0% {
    transform: rotate(345deg) translateX(-50px);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(345deg) translateX(-1250px);
    opacity: 0;
  }
}
.stars span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 2.3s;
}
.stars span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 3s;
  animation-duration: 6s;
}
.stars span:nth-child(3) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 0.95s;
  animation-duration: 2s;
}
.stars span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 2s;
  animation-duration: 2.5s;
}
.stars span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 4s;
  animation-duration: 6;
}
.stars span:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
.stars span:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 2.75s;
}
.stars span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 2.25s;
}
/* .stars span:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
} */
.stars span:nth-child(9) {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.stars span:nth-child(10) {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

/* .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: opacity 0.5s ease;
}

.sunset {
  background-image: url("https://img.freepik.com/free-vector/summer-background-videocalls_23-2148969180.jpg?size=626&ext=jpg&ga=GA1.2.97695349.1710195315&semt=ais");
}

.night {
  background-image: url("https://img.freepik.com/free-photo/snowy-mountain-peak-starry-galaxy-majesty-generative-ai_188544-9650.jpg?w=1380&t=st=1710195701~exp=1710196301~hmac=9f41ae8e90706b1b0379ccf7c3af4441a75beab9f981c213b667ae9f92198c2f");
} */

.area {
  /* background-image: url("https://www.shutterstock.com/image-vector/vector-night-sky-clouds-moonlight-600nw-760640275.jpg"); */
  /* background-image: url("https://i.pinimg.com/736x/60/ab/dd/60abdd9b95395a55eeca67f78bacfb4f.jpg"); */
  /* background-image: url("https://t4.ftcdn.net/jpg/02/50/48/93/360_F_250489323_AvnwytTa9rlfQVNNpM8XIBR6POYOB3nC.jpg"); */
  /* background-image: url("BG.png");
  background-color: #000000;
  background-attachment: fixed;
  background-position: center;
  background-attachment: fixed;
  -o-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat; 
  background: none;
  */
  margin: 0;
  padding: 0;
  position: relative;
}
.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -10;
}

/* @media screen and (max-width: 768px) {
  .area {
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  .area {
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
  }
} */

.hide {
  display: none;
}

.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);

  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: -5;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  background: rgba(255, 255, 255, 0.3);
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  background: rgba(255, 255, 255, 0.4);
}

.circles li:nth-child(6) {
  left: 75%;
  width: 100px;
  height: 100px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 120px;
  height: 120px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  background: rgba(255, 255, 255, 0.2);
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}

.primary-navigation {
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}

.nav-list a,
.nav-list button {
  color: var(--clr-primary-300);
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  transition: color 0.2s ease-in;
  background-color: transparent;
  border: none;
}

.nav-list a:hover,
.nav-list button:hover {
  color: #fff;
  /* text-decoration: underline solid; */
}

#resetDots {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background-color: #775d9c;
  color: white;
  margin: 0.5%;
}

#resetDots:hover {
  background-color: #62438c;
}

/* general styling */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

#projects,
#contact,
#about {
  text-align: center;
}

#home {
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

#home-container {
  text-align: left;
  margin: 0;
  padding: 0;
}

.home-title {
  font-size: 6rem;
  font-weight: 600;
  line-height: 85%;
}
.home-subTitle {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}
.home-miniTitle {
  font-size: 1.5rem;
  margin-left: 5px;
}
.home-subText {
  text-align: center;
  margin: 10px;
}

.home-title,
.home-subTitle,
.home-miniTitle {
  width: 100%;
}

@media screen and (max-width: 550px) {
  .home-title {
    font-size: 4rem;
    text-align: center;
  }
  .home-subTitle {
    font-size: 1.5rem;
    text-align: center;
  }
  .home-miniTitle {
    margin-left: 70px;
    font-size: 1rem;
    text-align: center;
  }

  .projectTechStack div a {
    height: 40px;
    width: 40px;
  }

  #SortingAlgorithm,
  #SocialNetworking,
  #ChessGame {
    width: 75%;
  }

  #SortingAlgorithm .projectImg,
  #SocialNetworking .projectImg,
  #ChessGame .projectImg {
    width: 100%;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Gerenal spacing and font reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Exo", sans-serif;
}

a {
  color: inherit;
  text-decoration-color: rgb(107, 107, 107);
}

a:where(:hover, :focus) {
  text-decoration-color: currentColor;
}

code {
  font-family: monospace;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

/* Add styles for reduced motion */
.reduce-motion * {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
  animation-play-state: paused;
}

/* Utilities */

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-400 {
  font-size: var(--fs-400);
}

.fw-regular {
  font-weight: var(--fw-400);
}
.fw-bold {
  font-weight: var(--fw-700);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-200 {
  color: var(--clr-neutral-200);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}
.text-primary-200 {
  color: var(--clr-primary-200);
}
.text-primary-300 {
  color: var(--clr-primary-300);
}
.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-primary-500 {
  color: var(--clr-primary-500);
}
.text-primary-600 {
  color: var(--clr-primary-600);
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.margin-block-auto {
  margin-block: auto;
}
.margin-inline-auto {
  margin-inline: auto;
}
.margin-top-auto {
  margin-top: auto;
}
.margin-bottom-auto {
  margin-bottom: auto;
}
.margin-right-auto {
  margin-right: auto;
}
.margin-left-auto {
  margin-left: auto;
}

.margin-top-400 {
  margin-top: var(--size-400);
}
.margin-top-500 {
  margin-top: var(--size-500);
}
.margin-top-600 {
  margin-top: var(--size-600);
}
.margin-bottom-400 {
  margin-bottom: var(--size-400);
}
.margin-bottom-500 {
  margin-bottom: var(--size-500);
}
.margin-bottom-600 {
  margin-bottom: var(--size-600);
}

.margin-block-400 {
  margin-block: var(--size-400);
}
.margin-block-500 {
  margin-block: var(--size-500);
}
.margin-block-600 {
  margin-block: var(--size-600);
}

.padding-block-400 {
  padding-block: var(--size-400);
}
.padding-block-500 {
  padding-block: var(--size-500);
}
.padding-block-600 {
  padding-block: var(--size-600);
}

.padding-block-auto {
  padding-block: auto;
}
.padding-inline-auto {
  padding-inline: auto;
}
.padding-top-auto {
  padding-top: auto;
}
.padding-bottom-auto {
  padding-bottom: auto;
}
.padding-right-auto {
  padding-right: auto;
}
.padding-left-auto {
  padding-left: auto;
}

.padding-400 {
  padding: var(--size-400);
}

.padding-500 {
  padding: calc(var(--size-400) * 2);
}

.border-right-thin {
  border-right: 1px solid rgb(197, 192, 182);
}

:where(.flow > :not(:first-child)) {
  margin-top: var(--flow-space, var(--size-400));
}

.flex {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  gap: var(--gap, var(--size-400));
}

.flex-flow {
  display: flex;
  flex-direction: column;
  gap: var(--flow-space, var(--size-400));
}

.text-center .flex {
  margin: 0 auto;
}

.container {
  --max-width: 75rem;
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;
}

/* general styling */

body {
  font-family: system-ui, sans-serif;
  font-size: var(--fs-400);
  line-height: 1.4;
  color: var(--clr-neutral-900);
  /* background-color: var(--clr-neutral-200); */
}

[class*="grid-"] {
  display: grid;
  gap: 1rem;
}

.grid-even-columns {
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

/* @media (min-width: 50em) {
  .grid-auto-flow {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
} */

.grid-stack {
  display: grid;
  place-items: center;
}

.grid-stack > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-stack > img {
  aspect-ratio: 16/3;
  min-height: 30vh;
  object-fit: cover;
  z-index: -1;
}

p {
  opacity: 0.85;
}

h2 {
  font-size: 3rem !important;
  font-weight: 900;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Set the color of the thumb slider */
input[type="range"]::-webkit-slider-thumb {
  background-color: #ff6c03; /* Change to your desired color */
  cursor: pointer;
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
  background-color: #ff6c03; /* Change to your desired color */
  cursor: pointer;
}

/* For Edge */
input[type="range"]::-ms-thumb {
  background-color: #ff6c03; /* Change to your desired color */
  cursor: pointer;
}

input[type="range"] {
  background-color: #ff6c03;
  color: #ff6c03;
}

@media screen and (max-width: 1000px) {
  @keyframes starsAnimation {
    0% {
      transform: rotate(330deg) translateX(0) translateY(50px);
      opacity: 1;
    }

    100% {
      transform: rotate(330deg) translateX(-1250px);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 750px) {
  @keyframes starsAnimation {
    0% {
      transform: rotate(325deg) translateX(0) translateY(50px);
      opacity: 1;
    }

    100% {
      transform: rotate(325deg) translateX(-1250px);
      opacity: 0;
    }
  }

  h2 {
    font-size: 1.25rem;
  }

  .primary-navigation {
    font-size: 0.75rem;
  }

  .nav-list {
    gap: 2.25rem;
  }

  .nav-list a {
    font-size: 1.25rem;
  }
}

#mobile-navbar {
  display: none;
}

.hamburger,
.mobile-nav {
  display: none;
}

@media screen and (max-width: 600px) {
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    float: right;
    margin-right: 5%;
  }

  .hamburger .bar,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #ff6c03;
    margin: 6px 0px;
    transition: 0.5s;
  }

  .hamburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -6px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 50vh;
    display: block;
    z-index: 50;
    background-color: rgba(9, 13, 32, 0.85);
    padding-top: 120px;
    transition: left 0.5s ease;
  }

  .mobile-nav.is-active {
    left: 0;
  }

  .mobile-nav a {
    display: block;
    text-align: center;
    margin: 0 auto 16px;
    padding: 12px 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 200px;
    transition: color 0.4s;
  }

  .mobile-nav a:hover {
    color: #fbc23b;
    text-decoration: none;
  }

  .mobile-nav img {
    margin: 0 auto 16px;
  }

  #home {
    padding-top: 10%;
  }

  h2 {
    font-size: 1rem;
  }

  .primary-navigation {
    font-size: 0.5rem;
  }

  .nav-list {
    display: none;
  }

  @keyframes starsAnimation {
    0% {
      transform: rotate(335deg) translateX(0) translateY(50px);
      opacity: 1;
    }

    100% {
      transform: rotate(335deg) translateX(-1250px);
      opacity: 0;
    }
  }

  .stars span:nth-child(1) {
    right: -50px;
    top: 50px;
    animation-duration: 2s;
  }
  .stars span:nth-child(2) {
    right: -100px;
    top: 25px;
    animation-duration: 4s;
  }
  .stars span:nth-child(3) {
    right: -100px;
    top: 100px;
    animation-duration: 3s;
  }
  .stars span:nth-child(4) {
    animation-duration: 2s;
  }
  .stars span:nth-child(5) {
    animation-duration: 3s;
  }
  .stars span:nth-child(6) {
    right: -100px;
    top: 0px;
    animation-duration: 1.5s;
  }
  .stars span:nth-child(7) {
    animation-duration: 2.25s;
  }
  .stars span:nth-child(8) {
    right: 0;
    animation-duration: 2.25s;
  }
  .stars span:nth-child(9) {
    animation-duration: 2.75s;
  }
  .stars span:nth-child(10) {
    top: 0;
    animation-duration: 3.5s;
  }

  .circles li:nth-child(1) {
    width: 45px;
    height: 45px;
  }

  .circles li:nth-child(2) {
    width: 15px;
    height: 15px;
  }

  .circles li:nth-child(3) {
    width: 15px;
    height: 15px;
  }

  .circles li:nth-child(4) {
    width: 40px;
    height: 40px;
  }

  .circles li:nth-child(5) {
    width: 10px;
    height: 10px;
  }

  .circles li:nth-child(6) {
    width: 70px;
    height: 70px;
  }

  .circles li:nth-child(7) {
    width: 90px;
    height: 90px;
  }
  .circles li:nth-child(10) {
    width: 100px;
    height: 100px;
  }
}
